.background-home{
    background-image: url('https://res.cloudinary.com/dh3kskapq/image/upload/v1601074949/weqlwkz5nuyay3mgxjgc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-home img{
    display: block;
    margin: auto;
    width: 65%;
}

.container-home{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    background: #000000b0;
}

.container-home h2{
    width: 100%;
    text-transform: none;
    color: #fff;
    margin: auto;
}

.welcome-one{
    opacity: 0;
    transform: translateX(60px);
    transition: all ease-in-out 1s;
}

.welcome-one-on{
    opacity: 1;
    transform: translateX(0px);
    transition: all ease-in-out 1s;
}

.welcome-two{
    opacity: 0;
    transform: translateX(-60px);
    transition: all ease-in-out 1s;
}

.welcome-two-on{
    opacity: 1;
    transform: translateX(0px);
    transition: all ease-in-out 1s;
}

.welcome-three{
    opacity: 0;
    transform: translateX(60px);
    transition: all ease-in-out 1s;
}

.welcome-three-on{
    opacity: 1;
    transform: translateX(0px);
    transition: all ease-in-out 1s;
}

@media screen and (max-width: 775px){

    .container-home img{
        width: 100%;
    }

    .container-home h2{
        font-size: 24px;
    }
}

@media(max-width: 479px){

    .box{
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .container-home h2{
        font-size: 14px;
    }
}