.page-container{
    width: 100%;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dh3kskapq/image/upload/v1601078033/kusco_gallery/notfound_zmvsko.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000052;
}

.background-container h1,
.background-container h3{
    color: #fff;
}